.service {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('images/bg4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    cursor: default;
}

.sub-title {
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
    animation: 1s ease 0s 1 normal forwards running slideTop;
}

.container {
    max-width: 1270px;  
    margin: 0 auto;  
    padding: 10px;  
     
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 30px;
    
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    
   
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(#00000099, #00ffff86, #e600ff);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}


.btn {
    display: inline-block;
    padding: 14px 40px;
    background: #08dff7;
    border-radius: 40px;
    border: 2px solid aqua;
    font-size: medium;
    color: black;
    letter-spacing: 0.5px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1.5s ease forwards .3s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
    text-shadow: 0 0 15px #2c7ae6;
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    bottom: 20px; 
    
}

.btn:hover {
    box-shadow:
        0 0 7px aqua,
        0 0 10px aqua,
        0 0 20px aqua,
        0 0 40px aqua,
        0 0 80px aqua;
}